:root {
  --font: "Poppins", sans-serif;
  --main-purple: #5a2161;
  --secondary-purple: #a274a8;
  --text-purple: #712a7a;
  --text-black: #262424;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: var(--font);
}
